/*  DEFAULT =================================================*/
* {
	font-family: 'Didact Gothic', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #F6E3CE;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

@media (min-width: 980px) {
	.wrapper {
		max-width: 980px;
		margin: 0 auto;
	}
}

._clear {
	clear: both;
}

/*  FLEXBOX =================================================*/

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

/*  SPECIFIC =================================================*/

.filter-bar {
	font-weight: bold;
	color: #111;
	cursor: pointer;
	width: 60px;
	background-color: #acb;
	padding: 5px;
}

.filter-bar-open:after {
	content: "";
	position: relative;
	left: 5px;
	top: 16px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: #007bff transparent transparent transparent;
}

.filter-bar-close:after {
	content: "";
	position: relative;
	left: 5px;
	top: -13px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #737d87 transparent;
}

.filter-table {
	position: absolute;
	margin-left: 40px;
	margin-top: 5px;
	width: 50%;
	background-color: rgba(115, 125, 135, 0.9);
	padding: 8px;
	border: 1px solid #007bff;
}

.filter-btn {
	cursor: pointer;
	float: left;
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.9);;
	border: 1px solid white;
	border-radius: 3px;
	margin-right: 5px;
}

.skill {
	float: left;
	width: 33%;
}

.link {
	float: right;
}

.icon {
	height: 25px;
	margin: 2px;
}

.title {
	margin-top: 0;
	font-size: 40px;
	color: #FF8000;
}

.subtitle {
	font-size: 20px;
	margin-left: 1%;
	color: grey;
}

/* APP STYLE */
.app {
	width: 31.33%;
	background-color: white;
	border: 1px solid silver;
	padding: 10px;
	margin: 1%;
}

.app:hover {
	cursor: pointer;
}

.app-title {
	text-align: center;
	margin-bottom: 10px;
}

.app-img {
	width: 100%;
}

.app-skills {
	color: grey;
	font-weight: bold;
	font-size: 13px;
}

.date {
	float: right;
	color: darkblue;
	font-weight: bold;
	font-size: 14px;
}

.description {

}

.github {

}

/* APP DETAILED */
.app-complete {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
    margin: 1% 25%;
    z-index: 5;

    background-color: LightCyan;
    border: 1px solid silver;
	padding: 10px;


	text-align: center;
}

.app-complete-img {
	height: 50%;
	width: 100%;
	overflow: hidden;
}