/*  DEFAULT =================================================*/
* {
	font-family: 'Didact Gothic', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #F5FBF6;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	margin-top: 20px;
	padding: 20px 0;
	text-align: center;
}

p {
	font-size: 20px;
}

li {
	list-style-type: none;
}

._clear {
	clear: both;
}

._center {
	text-align: center;
}

/*  FLEXBOX =================================================*/

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
}

/*  SPECIFIC =================================================*/

.image {
	overflow: hidden;
    width: 100%;
    position: relative;
    background-image: url("../img/hepburn.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.nav {
	float: left;
	color: #FFE5CD;
	font-size: 18px;
	font-weight: bold;
}

.nav-li {
	padding: 10px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	border-right: 1px solid #f0a71d;
	border-bottom: 1px solid #f0a71d;
}

.nav-li:hover {
	background-color: #f0a71d;
	opacity: 0.9;
	color: black;
}

.work {
	float: left;
	font-size: 30px;
}

.link {
	float: right;
}

.icon {
	height: 25px;
	margin: 2px;
}

.contacts {
	float: right;
	text-align: right;
	color: #FFE5CD;
	font-size: 13px;
}

.title {
	color: #f0a71d;
	text-shadow: 2px 2px #381D04;
	font-size: 40px;
}

.title-port {
	font-size: 20px;
	margin-left: 1%;
	color: dimgrey;
	text-shadow: 1px 1px #000000;
}

.subtitle {
	color: #f0a71d;
	text-shadow: 1px 1px #000000;
}

.wrap-app {
	background-color: #C1B8A7;
	overflow: hidden;
}

.my-port {
	text-transform: uppercase;
	text-align: center;
	color: #3B342D;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: -14px;
}

.filter {
	margin-top: 20px;
}

.filter-bar {
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	width: 100px;
	padding: 5px;
	margin: 25px 0;
	border-radius: 10px;
	color: #111;
	background-color: #acb;
	cursor: pointer;
}

.filter-bar-open:after {
	content: "";
	position: relative;
	left: 5px;
	top: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: green transparent transparent transparent;
}

.filter-bar-close:after {
	content: "";
	position: relative;
	left: 5px;
	top: -17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 7px 5px;
	border-color: transparent transparent #737d87 transparent;
}

.filter-table {
	position: absolute;
	z-index: 25;
	margin-left: 0px;
	margin-top: 5px;
	width: 100%;
	background-color: rgba(115, 125, 135, 0.9);
	padding: 8px;
	border: 1px solid #007bff;
}

.filter-btn {
	cursor: pointer;
	float: left;
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.9);;
	border: 1px solid white;
	border-radius: 3px;
	margin-right: 5px;
}

.skill {
	float: left;
	width: 50%;
}

/* APP STYLE */

.app {
	width: 98%;
	background-color: white;
	border: 1px solid #3B342D;
	padding: 10px;
	margin: 10px 1%;
	position: relative;
}

.app:hover {
	cursor: pointer;
}

.effect {
	position: absolute;
    z-index: 20;
    opacity: 0;
    background-color: #3B342D;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
}

.app:hover .effect{
	opacity: 0.6;
}

.app-title {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	color: dimgrey;
}

.app-img-box {
	overflow: hidden;
	width: 100%;
	padding: 33%;
	position: relative;
    background-size: cover;
    background-position: center;
}

.app-skills {
	color: dimgrey;
	font-weight: bold;
	font-size: 13px;
	float: left;
}

.date {
	float: right;
	color: darkblue;
	font-weight: bold;
	font-size: 14px;
}

.description {
	font-size: 14px;
}

.github {
	text-align: center;
}

.divider {
	background-color: #3B342D;
	height: 100px;
	overflow: hidden;
}

.about {
	text-transform: uppercase;
	text-align: center;
	/*color: #C1B8A7;*/
	color: white;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 57px;
}

.bio {
	margin: 32px 5px;
	text-align: justify;
	color: #3B342D;
}

.cit {
	margin-top: 0;
	text-align: center;
	font-style: italic;
}

.llap {
	margin-left: 3px;
	vertical-align:sub;
}

/* APP DETAILED */
.app-complete {
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 98%;
    margin: 0 1%;
    z-index: 5;
    background-color: #C1B8A7;
    border: 1px solid #3B342D;
	padding: 10px;
}

.close {
	width: 20px;
	float: right;
	margin-top: -30px;
	cursor: pointer;
}

.app-complete-padd {
	padding: 23%;
}

/* RESPONSIVE ==================================================== */

@media screen and (min-width: 450px) {
	.about,.my-port {
		letter-spacing: 13px;
	}

	.app {
		width: 47%;
	}

	.app-img-box {
	}

	.filter-table {
		position: absolute;
		margin-left: 0px;
		margin-top: 3px;
		width: 100%;
		background-color: rgba(115, 125, 135, 0.9);
		padding: 8px;
		border: 1px solid #007bff;
	}

}

@media screen and (min-width: 600px) {
	.about,.my-port {
		letter-spacing: 25px;
		margin-right: -25px;
	}

	.app-complete {
		width: 80%;
		margin: 0 10%;
	}

	.description {
		font-size: 16px;
	}
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	.app-complete {
		overflow: scroll;
	    height: 100%;
	}

	.app-complete-padd {
		padding: 20%;
	}

	.description {
		font-size: 13px;
	}

}

@media screen and (min-width: 960px) {
	.wrapper {
		overflow: hidden;
		max-width: 980px;
		margin: 0 auto;
	}

	.about,.my-port {
		letter-spacing: 56px;
		margin-right: -56px;
	}

	.filter-table {
		margin-left: 40px;
		width: 50%;
	}

	.skill {
		float: left;
		width: 33%;
	}

	.app {
		width: 31.33%
	}

	p {
		font-size: 28px;
	}

	.bio {
		margin: 63px auto;
	}

	.app-complete {
		margin: 0 25%;
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {
	.app {
		width: 23%
	}
}

@media screen and (min-width: 1400px) {
	.wrap-app {
		width: 1400px;
		margin: auto;
	}
}